{% extends 'xbrand/base/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 ban banleft">
                <a href="{% url 'women' %}">
                    <img src="https://condenast-media.gcdn.co/vogue/af51133837aeca0fd650524f1dc154c7.jpg/653ef0b1/o/w990" alt="">
                </a> 
            </div>
            <div class="col-lg-6 col-sm-12 ban banrigth">
                <a href="{% url 'men' %}">
                    <img src="https://www.versace.ru/on/demandware.static/-/Library-Sites-ver-shared-non-trans/default/dw860a5791/images/men/fashion-show/versace-fw19-men-fashion-show-look-02-front.jpg" alt="">
                </a> 
            </div>
            <div class="col-lg-12 col-sm-12 ban bandown">
                 <a href="{% url 'jewelry' %}">
                    <img src="https://staticpages.mngbcn.com/homes/images/ss19/she/mayo/she_05-19_rebajas_852.jpg?imwidth=1024&imdensity=1" alt="">
                </a> 
            </div>
        </div>
    </div>

{% endblock %}