{% extends 'xbrand/base/base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Features section -->
	<section class="features-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 p-0 feature">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="{% static 'img/icons/1.png' %}" alt="#">
                            </div>
                            <h2>Szybkie Bezpieczne Płatności</h2>
                        </div>
                    </div>
                    <div class="col-md-4 p-0 feature">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="{% static 'img/icons/2.png' %}" alt="#">
                            </div>
                            <h2>Odzież klasy Premium</h2>
                        </div>
                    </div>
                    <div class="col-md-4 p-0 feature">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="{% static 'img/icons/3.png' %}" alt="#">
                            </div>
                            <h2>Szybka wysyłka</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features section end -->
    
    
        <!-- letest product section -->
        <section class="top-letest-product-section">
            <div class="container">
                <div class="section-title">
                    <h2>NAJNOWSZA ODZIEŻ</h2>
                </div>
                <div class="product-slider owl-carousel">
                    {% for new in news %}
                    <div class="product-item">
                        <div class="pi-pic">
                            <div class="tag-new">New</div>
                            <a href="{% url 'product' pk=product.pk kind='men' %}"><img src="{{ new.image_1.url }}" alt=""></a>
                            <div class="pi-links">
                                <a href="{% url 'contact' %}" class="add-card"><i class="flaticon-bag"></i><span>Zamówić</span></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <a href="{% url 'product' pk=product.pk kind='men' %}"></a><h6>{{ new.price }}</h6></a>
                            <a href="{% url 'product' pk=product.pk kind='men' %}"><p>{{ new.title }}</p></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- letest product section end -->
    
    
    
        <!-- Product filter section -->
        <section class="product-filter-section">
            <div class="container">
                <div class="section-title">
                    <h2>TOP SPRZEDAŻY</h2>
                </div>
                <ul id="filters" class="product-filter-menu">
                    <li><a data-filter="*" href="#">All</a></li>
                    <li><a data-filter=".proc" href="">KURTKA</a></li>
                    <li><a data-filter=".proc" href="">Spodnie</a></li>
                    <li><a data-filter=".romm" href="">koszulka</a></li>
                    <li><a data-filter=".b" href="">bluza</a></li>
                    <li><a data-filter=".d" href="">sukienka</a></li>
                    <li><a data-filter=".d" href="">buty</a></li>
                </ul>
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <a href="{% url 'product' pk=product.pk kind='men' %}"><img src="{{ product.image_1.url }}" alt=""></a>
                                    <div class="pi-links">
                                        <a href="{% url 'product' pk=product.pk kind='men' %}" class="add-card"><i class="flaticon-bag"></i><span>Zamówić</span></a>
                                    </div>
                                </div>
                                <div class="pi-text">
                                    <h6>{{ product.price }}PLN</h6>
                                    <a href="{% url 'product' pk=product.pk kind='men' %}"></a><p>{{ product.title }}</p></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Product filter section end -->    

{% endblock %}