{% extends 'xbrand/base/base.html' %}
{% load staticfiles %}

{% block content %}
        <!-- product section -->
	<section class="product-section">
            <div class="container">
                <div class="back-link">
                    <a href="{% url 'home' %}"> &lt;&lt; Cofnij</a>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <img class="product-big-img" src="{{ product.image_1.url }}" alt="">
                        </div>
                        <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                            <div class="product-thumbs-track">
                                {% if product.image_1 %}
                                    <div class="pt active" data-imgbigurl="{{ product.image_1.url }}">
                                        <img src="{{ product.image_1.url }}" alt="">
                                    </div>
                                {% endif %}
                                {% if product.image_2 %}
                                    <div class="pt" data-imgbigurl="{{ product.image_2.url }}">
                                        <img src="{{ product.image_2.url }}" alt="">
                                    </div>
                                {% endif %}
                                {% if product.image_3 %}
                                    <div class="pt" data-imgbigurl="{{ product.image_3.url }}">
                                        <img src="{{ product.image_3.url }}" alt="">
                                    </div>
                                {% endif %}
                                {% if product.image_4 %}
                                    <div class="pt" data-imgbigurl="{{ product.image_4.url }}">
                                        <img src="{{ product.image_4.url }}" alt="">
                                    </div>
                                {% endif %}
                                {% if product.image_5 %}
                                    <div class="pt" data-imgbigurl="{{ product.image_5.url }}">
                                        <img src="{{ product.image_5.url }}" alt="">
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 product-details">
                        <h2 class="p-title">{{ product.title }}</h2>
                        <h3 class="p-price">PLN {{ product.price }}</h3>
                        <h4 class="p-stock">Available: <span>In Stock</span></h4>
                        <div class="p-rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o fa-fade"></i>
                        </div>
                        <div class="fw-size-choose">
                            <p>Size</p>
                            <div class="sc-item">
                                <input type="radio" name="sc" id="m-size" checked="">
                                <label for="m-size">all</label>
                            </div>
                        </div>
                        <div class="quantity">
                            <p>Quantity</p>
                            <div class="pro-qty"><input type="text" value="1"></div>
                        </div>
                        <input type="submit" class="site-btn" value="Zamówić">
                        <div id="accordion" class="accordion-area">
                            <div class="panel">
                                <div class="panel-header" id="headingOne">
                                    <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
                                </div>
                                <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="panel-body">
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-header" id="headingTwo">
                                    <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Opłata</button>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="panel-body">
                                        <img src="./img/cards.png" alt="">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-header" id="headingThree">
                                    <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Dostawa</button>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="panel-body">
                                        <h4>7 Days Returns</h4>
                                        <p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="social-sharing">
                            <a href="https://www.instagram.com/xbrand_pl/" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/Xbrand-Repliki-odziezy-markowej-464754797420945/"><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product section end -->
{% endblock %}