{% extends 'xbrand/base/base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Features section -->
	<section class="features-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 p-0 feature">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="{% static 'img/icons/1.png' %}" alt="#">
                            </div>
                            <h2>Szybkie Bezpieczne Płatności</h2>
                        </div>
                    </div>
                    <div class="col-md-4 p-0 feature">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="{% static 'img/icons/2.png' %}" alt="#">
                            </div>
                            <h2>Odzież klasy Premium</h2>
                        </div>
                    </div>
                    <div class="col-md-4 p-0 feature">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="{% static 'img/icons/3.png' %}" alt="#">
                            </div>
                            <h2>Szybka wysyłka</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features section end -->
    
    
        <!-- letest product section -->
        <section class="top-letest-product-section">
            <div class="container">
                <div class="section-title">
                    <h2>NAJNOWSZA ODZIEŻ</h2>
                </div>
                <div class="product-slider owl-carousel">
                    <div class="product-item">
                        <div class="pi-pic">
                            <div class="tag-new">New</div>
                            <img src="{% static 'img/product/1.jpg' %}" alt="">
                            <div class="pi-links">
                                <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Zamówić</span></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Flamboyant Pink Top </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- letest product section end -->
    
    
    
        <!-- Product filter section -->
        <section class="product-filter-section">
            <div class="container">
                <div class="section-title">
                    <h2>BROWSE TOP SELLING PRODUCTS</h2>
                </div>
                <ul id="filters" class="product-filter-menu">
                    <li><a data-filter="*" href="#">TOPS</a></li>
                    <li><a data-filter=".proc" href="#">JUMPSUITS</a></li>
                    <li><a data-filter=".proc" href="#">LINGERIE</a></li>
                    <li><a data-filter=".romm" href="#">JEANS</a></li>
                    <li><a data-filter=".b" href="#">DRESSES</a></li>
                    <li><a data-filter=".d" href="#">COATS</a></li>
                    <li><a data-filter=".de" href="#">JUMPERS</a></li>
                    <li><a data-filter=".e" href="#">LEGGINGS</a></li>
                </ul>
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-3 col-sm-6 proc">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="{{ product.image_1.url }}" alt="">
                                    <div class="pi-links">
                                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Zamówić</span></a>
                                        <a href="" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                    </div>
                                </div>
                                <div class="pi-text">
                                    <h6>{{ product.price }}</h6>
                                    <p>{{ product.title }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Product filter section end -->    

{% endblock %}