{% load staticfiles %}

<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="{% static 'img/logo-light.png' %}" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>O nas</h2>
						<p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
						<img src="{% static 'img/cards.png' %}" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Linki</h2>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Shipping</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>W modzie</h2>
						<div class="fw-latest-post-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="{% static 'img/blog-thumbs/1.jpg' %}"></div>
								<div class="lp-content">
									<h6>what shoes to wear</h6>
									<span>Paż 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="{% static 'img/blog-thumbs/2.jpg' %}"></div>
								<div class="lp-content">
									<h6>trends this year</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Firma</h2>
						<div class="con-info">
							<span>C.</span>
							<p>Xbrand Clothes </p>
						</div>
						<div class="con-info">
							<span>B.</span>
							<p>Środmieście, Warszawa, PL </p>
						</div>
						<div class="con-info">
							<span>T.</span>
							<p>+48 570 402 118</p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>branded.clothin.pl@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="https://www.instagram.com/xbrand_pl/" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
				</div>

        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
            <p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
                All rights reserved | This site made 
                    <i class="fa fa-heart-o" aria-hidden="true"></i> 
                by <a href="https://colorlib.com" target="_blank">Xbrand</a>
            </p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>
	<!-- Footer section end -->